html, #root {
  height: 100% !important;
  width: 100% !important;
}

.App {
  margin: auto;
  width: 98%;
  font-family: 'Open Sans'
}

h1, h2, h3 {
  font-weight: 300;
}

.container {
  width: 100%;
  margin-top: 5%;
}

.chapter {
  margin-bottom: 6%;
  width: 100%;
  height: 25%;
  display: flex;
}

.graph-container {
  width: 50%;
}

.graph-small {
  height: inherit;
  position: -webkit-sticky;
  position: sticky;
  top: 18%;
}

.content {
  min-height: 100%;
  min-width: 45%;
  max-width: 45%;
  margin-left: 3%;
  border-left: 0.5px solid black;
  padding-left: 1%;
  width: 70%;
  font-weight: 300;
}

.refs {
  width: 100%;
  font-weight: 300;
  font-size: 15px;
}

.ref {
  margin-bottom: 2%;
}
